.about-heading {
  text-align: center;
  margin-top: 10rem;
  margin-bottom: 50px;
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  color: #000000;
  font-size: 33px;
  width: 100%;
}

.about-drops {
  text-align: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 200px;
}

.about-main {
  width: 100%;
}
