.dropdown-main {
    position: relative;
    width: 80vw;
    height: auto;
    padding: 0.5rem;
    font-family: 'Poppins', sans-serif;
}

.dropdown-title {
    position: relative;
    display: inline-block;
    width: 100%;
    height: auto;
    padding: 0.5rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    color: #000000;
    background-color: #ffffff;
    border-radius: 30px;
}

.dropdown-title:hover {
    cursor: pointer;
}

.dropdown-text {
    position: relative;
    font-size: 1rem;
    background-color: #ffffff;
    border-radius: 30px;
}
