.file-load {
    position: absolute;
    left: 11%;
    top: 45%;
    height: 14%;
    width: 30%;
    box-sizing: border-box;
    background: #ffffff;
    border: 5px solid rgba(173, 173, 196, 0.45);
    border-radius: 20px;
    display: table;
}

.file-load button {
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
    background-color: rgba(45, 155, 240, 0.6);
    border-radius: 15px;
    padding: 1.5%;
    height: 55%;
    width: 30%;
    width: 20%;
    border: none;
    color: white;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    font-size: 17px;
    position: absolute;
    top: 21%;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.file-load button:focus,
.file-load button:active,
.file-load button:hover {
    background-color: rgba(45, 155, 240, 1);
    transition: background-color 0.2s;
}

.file-load .upload-button {
    right: 6%;
}

.file-load .select-button {
    right: 30%;
}

.file-load .input-container {
    background-color: #808080;
}

.file-load .selected-files {
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    color: #808080;
    display: table-cell;
    vertical-align: middle;
    width: 32%;
    text-align: center;
}

@media (max-width: 1000px) {
    .file-load .selected-files {
        width: 40%;
    }
}


.notification {
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
}