.footer {
  width: 100%;
  height: 11%;
  position: absolute;
  bottom: 0;
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: row;
  align-items: center;
}

.footer .footer-contacts {
  position: inherit;
  right: 11%;
  width: 14%;
  text-transform: uppercase;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  text-align: right;
  line-height: 25%;
}

.footer .footer-text {
  position: inherit;
  left: 11%;
  width: 19%;
  text-transform: uppercase;
  line-height: 25%;
}

.footer .footer-text .ngram {
  font-style: normal;
  font-weight: 800;
  font-size: 17px;
}

.footer .footer-text .project {
  font-style: normal;
  font-weight: 540;
  font-size: 14px;
}
