.ngram-container {
  position: absolute;
  left: 11%;
  top: 65%;
  height: 14%;
  width: 30%;
  box-sizing: border-box;
  background: #ffffff;
  border: 5px solid rgba(173, 173, 196, 0.45);
  border-radius: 20px;
  display: table;
}

.ngram-container .ngram-title {
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  color: #808080;
  display: table-cell;
  vertical-align: middle;
  width: 60%;
  text-align: center;
}

.ngram-container .ngram-input {
  position: absolute;
  right: 6%;
  border: 5px solid rgba(45, 155, 240, 0.6);
  padding: 1.5%;
  height: 33%;
  width: 14.5%;
  top: 22%;
  border-radius: 15px;
  font-size: 17px;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}


.ngram-container .ngram-input:focus,
.ngram-container .ngram-input:hover {
  border: 5px solid rgba(45, 155, 240, 1);
  transition: background-color 0.2s;
  outline: none;
}

/* .ngram-container .ngram-input option,
.ngram-container .ngram-input option:checked::selection {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: #000000;
  text-transform: uppercase;
} */
